<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="udsc.iic.iicpaperpedia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FirstsemActivity" />
        <activity android:name=".SActivity" />
        <activity android:name=".TActivity" />
        <activity android:name=".FActivity" />
        <activity android:name=".It11Activity" />
        <activity android:name=".It12Activity" />
        <activity android:name=".It13Activity" />
        <activity android:name=".It14Activity" />
        <activity android:name=".It15Activity"></activity>
    </application>

</manifest>